.badan {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.kandungan {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
}