@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}

*:hover::-webkit-scrollbar-thumb {
  background: #4A8EED;
}

:root {
  font-size: 16px;

  --page-width-limiter: clamp(280px, 100%, 1200px);

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-family: 'Inter', 'Segoe UI', sans-serif;
}

.Icon {
  width: 100%;
  height: 100%;
}

label {
  display: none;
}