.page {
    &_container {
        width: clamp(280px, 100%, 1200px);
        margin: 0px 20px;
        padding: 50px 20px 0px;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

    &_huraian {
        line-height: 2rem;
        text-align: center;
        
        p {
            margin-bottom: 2rem;
        }
    }

    &_pembangun {
        display: flex;
        width: fit-content;
        margin-bottom: 30px;
        flex-flow: row wrap;
        justify-content: center;
    }
}

.pembangun {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    margin: 0px 30px 20px;

    &_gambar {
        margin-bottom: 10px;
    }

    &_nama {
        font-size: 1.5rem;
        font-weight: 700;
    }
}