.page {
    &_container {
        width: var(--page-width-limiter);
        margin: 0px 20px;
        padding: 50px 20px 0px;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

    &_huraian {
        line-height: 2rem;
        text-align: center;
        
        p {
            margin-bottom: 2rem;
        }
    }

    &_pembangun {
        display: flex;
        width: fit-content;
        margin-bottom: 30px;
        flex-flow: row wrap;
        justify-content: center;
    }
}

.pembangun {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    margin: 0px 30px 20px;

    &_gambar {
        margin-bottom: 10px;
    }

    &_nama {
        font-size: 1.5rem;
        font-weight: 700;
    }
}

.dikuasakan {
    width: var(--page-width-limiter);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    &_senarai {
        display: flex;
        flex-flow: row wrap;
    }
    &_gambar {
        width: 400px;
        height: 100px;
        position: relative;
        margin: 20px 10px;
    }
}